:root {
    --accent-color: #2196F3;
    --header-basic-color: #212121;
    --basic-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --button-text-color: #212121;
    --button-text-color: #FFFFFF;
    --button-background: #2196F3;
    --section-first-background: #E5E5E5;
    --footer-background: #2F303A;
    --footer-address: #FFFFFF;
    --button-accent-text: #FFFFFF;
    --buttont-accent-fill: #2196F3;
    --list-title-item: #212121;
    --item-secondary-color: #757575;

}