.header__logo {
    text-decoration: none;
    list-style: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web {
    color: #2196F3;
}

.logo-studio {
    color: #000000;
}

.footer__logo {
    text-decoration: none;
    list-style: none;
    margin-right: 93px;
    margin-bottom: 20px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;
    display: block;
    
}


.footer-studio-logo {
    color: #FFFFFF;
}